{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WELCOME2</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>
    <body class="vh-100 gradient-custom">
        {% if user.is_authenticated%}
        <h1>HELLO2 {{user.username}}</h1>
        {%endif%}
        <button type="button">Days Off Ammount</button>
        <button type="button">Create Request for days_off</button>
        <p>You have 5 unreaded decision for the request you made</p>
    </body>