{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WELCOME</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>
    <body class="vh-100 gradient-custom">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#">New Request</a>
                <a class="nav-item nav-link" href="#">Decisions</a>
              </div>
            </div>
          </nav>
        {% if user.is_authenticated%}
        <h1>HELLO {{user.username}}</h1>
        {%endif%}
        <button type="button">Days Off Ammount</button>
        <button type="button">Create Request for days_off</button>
        <p>You have 5 unreaded decision for the request you made</p>
    </body>